.nav {
  display: flex;
  gap: 30px;
  padding: 25px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
};

/* Navigation.module.css */


.link:hover {
  color: #0056b3;
}

.active {
  font-weight: bold;
}

.link {
  font-size: 16px;
  text-decoration: none;
}
